* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    font-size: 16px;
    font-family: "Figtree", sans-serif;
}

main.card {
    max-width: 377px;
    background-color: white;
    margin: auto;
    padding: 20px;
    margin-top: 150px;
    border-radius: 15px;
    border: 1px  solid;
    box-shadow: 8px 8px 0px rgb(0, 0, 0, 0.9);
    /* border-right: 7px solid; */
    /* border-bottom: 7px solid; */
}

.image-wrapper img {
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 30px;
}

span {
    background-color: hsl(47, 88%, 63%);
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: 800;
}

.date {
    margin: 20px 0;
    color: hsl(0, 0%, 7%);
}

h1 {
    font-size: 29px;
}

.paragraph {
    margin: 20px 0;
    color: hsl(0, 0%, 42%);
}

.footer-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-image-wrapper img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}